@charset "UTF-8";
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot");
  src: url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff") format("woff"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 "Glyphicons Halflings";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}

/* Add icons you will be using below */
.glyphicon-fire:before {
  content: "";
}

.glyphicon-eye-open:before {
  content: "";
}

.expand {
  width: 100% !important;
  max-width: none !important;
}

.height-1 {
  height: 1rem;
}

.height-2 {
  height: 2rem;
}

.hidden {
  display: none;
}

.img-top-logued {
  width: 1.5rem;
  margin-right: 0.5rem;
}

body {
  background-color: #D52B1E;
}

.navbar-fixed-top, .navbar-static-top {
  background-color: #B6BF00;
}
.navbar-fixed-top .text-muted,
.navbar-fixed-top .nav.navbar-right > li > a, .navbar-static-top .text-muted,
.navbar-static-top .nav.navbar-right > li > a {
  color: #ffffff !important;
}
.navbar-fixed-top .nav.navbar-right > li > a:hover, .navbar-static-top .nav.navbar-right > li > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.nav-header {
  background-color: #D52B1E;
  color: #ffffff;
}
.nav-header .text-muted {
  color: #ffffff !important;
}

.navbar-default {
  background-color: #D52B1E;
  color: #ffffff;
}
.navbar-default * {
  background-color: #D52B1E;
  color: #ffffff;
}
.navbar-default .logo {
  width: 150px;
  border-radius: unset;
}
.navbar-default .nav.metismenu > li a,
.navbar-default ul .nav-second-level > li a {
  background-color: #D52B1E;
  color: #ffffff;
}
.navbar-default .nav.metismenu > li a:hover,
.navbar-default ul .nav-second-level > li a:hover {
  background-color: #D52B1E;
  color: #ffffff;
  text-decoration: underline;
}

.btn-primary {
  background-color: #D52B1E;
  border-color: #D52B1E;
}

.carrusel-process .ibox-content {
  margin: 0 0.25rem;
}
.carrusel-process .card {
  width: 99% !important;
}

.mapcontainer {
  background-color: #9ec5ea;
}

.btn-primary {
  background-color: #D52B1E !important;
  border-color: #D52B1E !important;
}

.btn-primary:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.containerEventViewer {
  max-height: 35rem;
  overflow: auto;
}

.super-hide {
  display: none !important;
  visibility: hidden !important;
}

/*# sourceMappingURL=site.css.map */
