
@{
    ViewBag.Title = "Coborturas y Zonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>
<div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="row">
        <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
            <h2>Coborturas y Zonas</h2>
        </div>
    </div>
    <div class="row" style="padding-bottom:25px;">
        
            <div class="col-sm-2">
                <span>Seleccione Archivo  :</span>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="file" name="importFile" id="importFile" />
            </div>
            <div class="col-sm-3">
                <input class="btn btn-primary" id="btnUpload" type="button" value="Upload" />
            </div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;"> No. Proveedor</th>
                        <th style="text-align:center;">CP.Origen</th>
                        <th style="text-align:center;">Cobertura Big T</th>
                        <th style="text-align:center;">Cobertura PyM</th>
                        <th style="text-align:center;">Código Postal</th>
                        <th style="text-align:center;">Zonas</th>
                        <th style="text-align:center;">Tiempos de Entrega (BT)</th>
                        <th style="text-align:center;">Tiempos de Entrega (PyM)</th>
                        @*<th style="text-align:center;">Municipio</th>
                        <th style="text-align:center;">Estado</th>
                        <th style="text-align:center;">Siglas Plaza</th>
                        <th style="text-align:center;">Lu</th>
                        <th style="text-align:center;">Ma</th>
                        <th style="text-align:center;">Mi</th>
                        <th style="text-align:center;">Ju</th>
                        <th style="text-align:center;">Vi</th>
                        <th style="text-align:center;">Sa</th>
                        <th style="text-align:center;">Do</th>
                        <th style="text-align:center;">Periodicidad</th>
                        <th style="text-align:center;">Es Ocurre Forzoso</th>
                        <th style="text-align:center;">Reexpedición</th>
                        <th style="text-align:center;">Garantía Máxima</th>*@
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <!--<tfoot>
                    <tr>
                        <th style="text-align:center;"> No. Proveedor</th>
                        <th style="text-align:center;">CP.Origen</th>
                        <th style="text-align:center;">Cobertura Big T</th>
                        <th style="text-align:center;">Cobertura PyM</th>
                        <th style="text-align:center;">Código Postal</th>
                        <th style="text-align:center;">Zonas</th>
                        <th style="text-align:center;">Tiempos de Entrega (BT)</th>
                        <th style="text-align:center;">Tiempos de Entrega (PyM)</th>-->
                        @*<th style="text-align:center;">Municipio</th>
                        <th style="text-align:center;">Estado</th>
                        <th style="text-align:center;">Siglas Plaza</th>
                        <th style="text-align:center;">Lu</th>
                        <th style="text-align:center;">Ma</th>
                        <th style="text-align:center;">Mi</th>
                        <th style="text-align:center;">Ju</th>
                        <th style="text-align:center;">Vi</th>
                        <th style="text-align:center;">Sa</th>
                        <th style="text-align:center;">Do</th>
                        <th style="text-align:center;">Periodicidad</th>
                        <th style="text-align:center;">Es Ocurre Forzoso</th>
                        <th style="text-align:center;">Reexpedición</th>
                        <th style="text-align:center;">Garantía Máxima</th>*@
                    <!--</tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">
            <table id="tblConsulta" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                <thead class="bg-danger">
                    <tr>
                        <th style="text-align:center;"> No. Proveedor</th>
                        <th style="text-align:center;">CP.Origen</th>
                        <th style="text-align:center;">Cobertura Big T</th>
                        <th style="text-align:center;">Cobertura PyM</th>
                        <th style="text-align:center;">Código Postal</th>
                        <th style="text-align:center;">Zonas</th>
                        <th style="text-align:center;">Tiempos de Entrega (BT)</th>
                        <th style="text-align:center;">Tiempos de Entrega (PyM)</th>
                        <th style="text-align:center;">Municipio</th>
                        <th style="text-align:center;">Estado</th>
                        <th style="text-align:center;">Siglas Plaza</th>
                        <th style="text-align:center;">Lu</th>
                        <th style="text-align:center;">Ma</th>
                        <th style="text-align:center;">Mi</th>
                        <th style="text-align:center;">Ju</th>
                        <th style="text-align:center;">Vi</th>
                        <th style="text-align:center;">Sa</th>
                        <th style="text-align:center;">Do</th>
                        <th style="text-align:center;">Periodicidad</th>
                        <th style="text-align:center;">Es Ocurre Forzoso</th>
                        <th style="text-align:center;">Reexpedición</th>
                        <th style="text-align:center;">Garantía Máxima</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>*@
@section scripts{
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>

        $(document).ready(function () {

            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table =  $('#tblConsulta').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' }
                    ],
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "scrollY": "400px"
                    , "scrollCollapse": true

                }
            );


            //table = $("#tblConsulta").DataTable(
            //    {
            //        dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
            //            "<'row'<'col-sm-12'tr>>" +
            //            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
            //        processing: true,
            //        searching: true,
            //        ordering: true,
            //        order: [[1, 'asc']],
            //        filter: true,
            //        info: false,
            //        stateSave: false,
            //        select: false,
            //        select: {
            //            style: 'single'
            //        },
            //        //Paggin

            //        paging: true,
            //        pageLength: 10,
            //        lengthMenu: [10, 25, 50, 100, 500],

            //        // destroy: true, //destruye automaticamente la referencia a la tabla
            //        //Ajax
            //        //serverSide: true,
            //        //bServerSide: true,
            //        //sServerMethod: "GET",
            //        buttons: ['csv', 'excel'],
            //        orderCellsTop: false,
            //        fixedHeader: {
            //            header: true
            //        },
            //        "scrollX": true

            //    }
            //);

            GetCobZona();
        });


    </script>
    <script>

        function GetCobZona(){




            $.ajax({
                async: false,
                type: "get",
                url: '@Url.Action("GetCobZona", "Tms")',
                data: {

                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        //$('#tblDetalle tbody').empty();
                        ////var tr;
                        //debugger;
                        ////Append each row to html table

                        //for (var i = 0; i < json.resp.length; i++) {
                        //    tr = $('<tr/>');

                        //    tr.append("<td>" + json.resp[i].EAN + "</td>");
                        //    tr.append("<td>" + json.resp[i].ID + "</td>");
                        //    tr.append("<td>" + json.resp[i].Descripcion + "</td>");
                        //    tr.append("<td>" + json.resp[i].Piezas + "</td>");
                        //    tr.append("<td>" + json.resp[i].CostoUnitario + "</td>");

                        //    $('#tblDetalle').append(tr);
                        //}

                        var table = $('#tblConsulta').DataTable();

                        //table.clear().draw();
                        //table.destroy();
                        //iniciarDetalle();
                        for (var i = 0; i < json.resp.length; i++) {


                            table.row.add([
                                json.resp[i].NoProveedor
                                , json.resp[i].CpOrigen
                                , json.resp[i].CoberturaBigT
                                , json.resp[i].CoberturaPyM
                                , json.resp[i].CodigoPostal
                                , json.resp[i].Zonas
                                , json.resp[i].TiemposEntregaBT
                                , json.resp[i].TiemposEntregaPyM
                                //, json.resp[i].Municipio
                                //, json.resp[i].Estado
                                //, json.resp[i].SiglasPlaza
                                //, json.resp[i].Lunes
                                //, json.resp[i].Martes
                                //, json.resp[i].Miercoles
                                //, json.resp[i].Jueves
                                //, json.resp[i].Viernes
                                //, json.resp[i].Sabado
                                //, json.resp[i].Domingo
                                //, json.resp[i].Periodicidad
                                //, json.resp[i].EsOcurreForzoso
                                //, json.resp[i].Reexpedicion
                                //, json.resp[i].GarantiaMax


                            ]).draw();
                        }
                        table.columns.adjust().draw();

                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }


        $(document).on("click", "#btnUpload", function () {
            var files = $("#importFile").get(0).files;

            var formData = new FormData();
            formData.append('importFile', files[0]);

            $.ajax({
                url: '/TMS/ImportFileCobZona',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Status === 1) {
                        //alert(data.Message);
                        location.reload();
                    } else {
                        alert("Failed to Import");
                    }
                }
            });
        });
    </script>  }
