@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12" style="padding-left:5px;padding-right:0px">
    <div class="ibox" id="divPasilloCategoria">
        <div class="ibox-content" style="height:600px;">
            <div style="padding:0px 0px 4px 4px">
                <h2>ABARROTES PASILLO 1 REFRESCOS Y BOTANAS 1</h2>
                <hr />
                <div class="row">
                    <div class="col col-xs-2 col-md-2 right block"><label>División:</label></div>
                    <div class="col col-xs-4 col-md-4 pull-left">
                        <select class="form-control form-control-sm m-b" name="account">
                            <option>Division 1</option>
                            <option>Division 2</option>
                        </select>
                    </div>

                    <div class="col col-xs-2 col-md-2 right block"><label>Categoría:</label></div>
                    <div class="col col-xs-4 col-md-4 pull-left">

                        <select class="form-control form-control-sm m-b" name="account">
                            <option>Categoria 1</option>
                            <option>Categoria 2</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-6 col-md-6 col-md-6" style="overflow:auto;height:450px;">
                    <div style="padding:4px 0px 4px 4px">
                        <button class="btn-white btn btn-xs">Marcar Todas</button>
                        <button class="btn-white btn btn-xs">Quitar Elegidas</button>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col col-xs-6 col-md-6 col-md-6" style="overflow:auto;height:450px;">
                    <div style="padding:4px 0px 4px 4px">
                        <button class="btn-white btn btn-xs">Marcar Todas</button>
                        <button class="btn-white btn btn-xs">Agregar Elegidas</button>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <input style="width:50px;" type="text" id="product_name" name="product_name" value="1" placeholder="" class="form-control input-sm">

                            </td>
                            <td>
                                <h4>Derivados Especialidad</h4>
                                <p style="font:bold;font-size:11px;">Abarrotes 7 totillas Y Tostadas Empacadas</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
