<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a class="navbar-minimalize"><i class="fa fa-bars"></i> </a>
                    <span>
                        <img alt="image" class="img-circle" width="70" height="70" src="@Url.Content("~/Content/images/theme/logo.png")" />
                    </span>
                </div>
                <div class="logo-element">
                    AWS
                    <a class="navbar-minimalize"><i class="fa fa-bars"></i> </a>
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label" data-i18n="nav.layouts">Registrarse</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-question"></i> <span class="nav-label"> ¿Olvido su contraseña?</span></a>
            </li>
        </ul>
    </div>
</nav>