<div class="modal inmodal fade" id="dlgReportes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Reportes</h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col col-xs-12 col-md-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Venta por día</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#tab-2">Ventas por rango de fechas</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                                        <div class="panel-body">

                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="tab-2" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="form-group" id="data_5">
                                                <label class="font-normal">Selecciona el rango de fechas</label>
                                                <div class="input-daterange input-group" id="datepicker">
                                                    <input type="text" class="form-control-sm form-control" name="start" value="05/14/2014">
                                                    <span class="input-group-addon">to</span>
                                                    <input type="text" class="form-control-sm form-control" name="end" value="05/22/2014">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col col-xs-12 col-md-12 col-lg-12">


                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check1" checked>
                                                                <label class="custom-control-label" for="check1">Entregadas</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check2">
                                                                <label class="custom-control-label" for="check2">Canceladas</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check3" checked>
                                                                <label class="custom-control-label" for="check3">En transito</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check4" checked>
                                                                <label class="custom-control-label" for="check4">Pendientes de Surtir</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check5">
                                                                <label class="custom-control-label" for="check5">Pendientes de entregar</label>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Reporte</button>
            </div>
        </div>
    </div>
</div>
