//aplicación que me pasaste
$rojo_aplicacion: #D52B1E;
$verde_aplicacion: #B6BF00;

//soriana.com
$rojo-pagina: #ec7205;
$verde-pagina: #b5c000;


//aplicación que me pasaste
$red: $rojo_aplicacion;
$green: $verde_aplicacion;
$white:#ffffff;