
@{
    ViewBag.Title = "Clases de Envios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.scroll_horizontal {
        width: 100%;
        overflow: auto;
    }
</style>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Clases de Envios</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
        <br />
        <div class="row scroll_horizontal">
            <div class="col-12">
                <table id="example" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Num</th>
                            <th>Clase Envio</th>                         
                            <th>Usuario Modificación</th>
                            <th>Fecha Modificación</th>
                            <th>Activo</th>
                            <th name="accion">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div id="modal-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Clase de Envio</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmCreateServicios">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">

                                <div class="form-group">
                                    <label>Clase  de Envio</label>
                                    <input type="text" placeholder="Tipo de envio" id="txtDesc_ClaseEnvio" name="txtDesc_ClaseEnvio" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <div class="form-group">
                                    <label>Estatus</label>
                                    <select class="form-control" id="id_estatus" name="id_estatus">
                                        @*<option selected="selected" value="1">--SELECCIONA--</option>*@
                                        <option selected="selected" value="1">ACTIVO</option>
                                        <option value="0">INACTIVO</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" onclick="Add()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <input id="hddId" name="hddId" value="0" style="visibility:hidden" />

}
@section scripts {

    <script>
        $(document).ready(function () {

            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $('#example').DataTable(
                {

                    language:
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"

                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        },
                        "buttons": {
                            "print": "Imprimir",
                            "pageLength": 'Mostrar %d Registros'

                        }
                    },
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                        { extend: 'pageLength', className: 'btn-primary' },
                        { extend: 'excel', className: 'btn-primary' },
                        {
                            text: 'Alta',
                            action: function (e, dt, node, config) {

                                //bootbox.alert("HOLA");
                                $("#txtDesc_ClaseEnvio").val('');
                                $("#hddId").val('0');
                                $("#modal-form").modal('show');

                            }
                            , className: 'btn-primary'
                        }
                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            GetConsulta();

        });

        function GetConsulta() {
            //var _Id_Num_UN = $("#hddTda").val();
            //debugger;
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetClasesEnvios", "Catalogo")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {


                        var myTable = $('#example').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            myTable.row.add([
                                json.resp[i].IdClase,
                                json.resp[i].Desc_ClaseEnvio,
                               
                                json.resp[i].Modified_User,
                                json.resp[i].FecMovto,
                     

                                json.resp[i].BitActivo == '1' ? 'Activo' : 'Inactivo',
                                "<button title='Editar' onclick=\"GetById(" + json.resp[i].IdClase + ")\" type=\"button\" class=\"btn btn-white btn-circle\"><acronym title='Editar' lang='es'> <i class=\"fa fa-edit\"></i></acronym></button><button type=\"button\" onclick=\"Delete(" + json.resp[i].IdClase + ")\" class=\"btn btn-warning btn-circle\"><acronym title='Eliminar' lang='es'> <i class=\"fa fa-minus\"></i></button></acronym>"
                            ]).draw();
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }



        function Add() {
            _IdClase = $("#hddId").val();
            _Desc_ClaseEnvio = $("#txtDesc_ClaseEnvio").val();
            _BitActivo = $("#id_estatus").val();
          
            if (_Desc_ClaseEnvio.length == 0) {
                $("#txtDesc_ClaseEnvio").focus();
                return;
            }

           

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("AddClasesEnvios", "Catalogo")',
                data: {
                    IdClase: _IdClase,
                    Desc_ClaseEnvio: _Desc_ClaseEnvio,
                    BitActivo: (_BitActivo == "1") ? true : false 
                   
                },
                datatype: "html",
                success: function (json) {
                    console.log(json);

                    debugger;
                    if (json.Success) {
                        $("#txtDesc_TipoEnvio").val('');
                        $("#PesoMinimo").val('');
                        $("#PesoMaximo").val('');
                        GetConsulta();

                        $("#modal-form").modal('hide');
                        location.reload();
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }



        function Delete(id) {
            if (confirm('Esta seguro que desea eliminar el registro : ' + id))
            {
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("DelClasesEnvios", "catalogo")',
                    data: {
                        IdClase: id
                    },
                    datatype: "html",
                    success: function (json) {
                        if (json.Success) {
                            GetConsulta();
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.alert(errorThrown);
                    }
                });
            }
        }

        function GetById(id) {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetClasesEnviosId", "Catalogo")',
                data: {
                    IdClase : id
                },

                datatype: "html",
                success: function (json) {
                    if (json.Success) {

                        document.getElementById("hddId").value = json.resp.IdClase;
                        document.getElementById("txtDesc_ClaseEnvio").value = json.resp.Desc_ClaseEnvio;
                      
                        if (json.resp.BitActivo=="1") {
                            document.getElementById("id_estatus").value = 1;
                        } else { document.getElementById("id_estatus").value = 0}
             
                        $("#modal-form").modal('show');


                    }
                    else { alert(json.Message) }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });

        }



    </script>

}