<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!-- DESARROLLO-->

    <!--<add name="Connection_LOCAL" connectionString="Server=localhost;Database=sidecarproddb;User Id=sa;Password=root;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Connection_DEV2" connectionString="Server=tcp:srvsqlmercurio.database.windows.net,1433;Initial Catalog=MercurioDesaDB;Persist Security Info=False;User ID=soriana_mrcr;Password=MgrfC$Ry;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV" connectionString="Server=tcp:srvsqlmercurio.database.windows.net,1433;Initial Catalog=MercurioDesaDB;Persist Security Info=False;User ID=t_eliseogr;Password=El1530%.*314;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV3" connectionString="Initial Catalog=MercurioDMDB;Data Source=srvqslmercuriodm.database.windows.net;User Id=danielgg;Password=W3rcur10DM.#/;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Connection_DEV4" connectionString="Server=tcp:srvsqlmercurio.database.windows.net;Initial Catalog=MercurioDesaDB;Persist Security Info=False;User ID=soriana_mrcr;Password=MgrfC$Ry;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_QA" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />
    <add name="Connection_PROD" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />-->

    <!-- QAS -->
     
    <add name="Connection_LOCAL" connectionString="Server=localhost;Database=sidecarproddb;User Id=sa;Password=root;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Connection_DEV2" connectionString="Server=tcp:srvsqlmercurioqa.database.windows.net,1433;Initial Catalog=MercurioQADB;Persist Security Info=False;User ID=t_eliseogr;Password=W3rcur10!QA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV" connectionString="Server=tcp:srvsqlmercurioqa.database.windows.net,1433;Initial Catalog=MercurioQADB;Persist Security Info=False;User ID=t_eliseogr;Password=W3rcur10!QA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV3" connectionString="Initial Catalog=MercurioDMDB;Data Source=srvqslmercuriodm.database.windows.net;User Id=danielgg;Password=W3rcur10DM.#/;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
    <add name="Connection_DEV4" connectionString="Server=tcp:srvsqlmercurioqa.database.windows.net;Initial Catalog=MercurioQADB;Persist Security Info=False;User ID=t_eliseogr;Password=W3rcur10!QA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_QA" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />
    <add name="Connection_PROD" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />
    

    <!-- PROD -->
     
    <!--<add name="Connection_LOCAL" connectionString="Server=localhost;Database=sidecarproddb;User Id=sa;Password=root;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Connection_DEV2" connectionString="Server=tcp:srvsqlmercurioprod.database.windows.net,1433;Initial Catalog=MercurioDB;Persist Security Info=False;User ID=sorianaprod_mrcr;Password=!#W3rCuR10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV" connectionString="Server=tcp:srvsqlmercurioprod.database.windows.net,1433;Initial Catalog=MercurioDB;Persist Security Info=False;User ID=sorianaprod_mrcr;Password=!#W3rCuR10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_DEV3" connectionString="Initial Catalog=MercurioDMInt;Data Source=srvsqldmprod.database.windows.net;User Id=MercurioDmApl;Password=M3rCur10#4pl!?;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
    <add name="Connection_DEV4" connectionString="Server=tcp:srvsqlmercurioprod.database.windows.net;Initial Catalog=MercurioDB;Persist Security Info=False;User ID=sorianaprod_mrcr;Password=!#W3rCuR10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Connection_QA" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />
    <add name="Connection_PROD" connectionString="Data Source=LAPTOP-OIKPMNP7\SQLEXPRESS; Initial Catalog=MLProdDB; Trusted_Connection=True;" />-->
    


  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Environment" value="LOCAL" />

    <!--SORIANA FRAMEWORK SETTINGS-->
    <!-- seccion del log -->
    <add key="respaldoLogin" value="C:\Allware\Logs\Soriana\RespaldoApiServicios\" />
    <add key="bitacoraLogin" value="C:\Allware\Logs\Soriana\BitacoraApiServicios\" />
    <add key="logerLogin" value="C:\Allware\Logs\Soriana\LogerApiServicios\" />

    <!--Enable Disable logs-->
    <add key="flagActivedLog" value="Y" />
    <add key="flagLoGDB" value="1" />


    <!--Encripted Connection-->
    <add key="flagConectionDBEcriptado" value="0" />

    <!-- seccion de Active Directory-->
    <add key="Domain" value="soriana.com" />
    <add key="ModeDebug" value="true" />

    <!-- DESARROLLO-->

    <!--<add key="api_UserAD" value="https://mlsorqa.soriana.com/Apisad/UsuarioValidoAD" />
    <add key="urlApi" value="true" />
    <add key="api_FinalizarSurtido" value="https://finalizarsurtidosetc.azurewebsites.net/api/FinalizarSurtido" />
    <add key="api_FinalizarTrans" value="https://finalizartransportistasetc.azurewebsites.net/api/FinalizarTransportista" />
    <add key="api_FinalizarEmbarque" value="https://finalizarempaquesetc.azurewebsites.net/api/FinalizarEmpaque" />
    <add key="api_Finaliza_Entrega" value="https://finalizarentregasetc.azurewebsites.net/api/FinalizarEntrega " />
    <add key="api_GetEmpleado" value="http://ext-srvallware:8091/ServicesManagmentCentra_Apis/GetInfoEmpleado?numEmpleado=" />
    <add key="api_GetCodigo" value="http://corpwebdesa01/CentralWebAPI/api/Pos/Item" />

    <add key="api_TMS_Dev" value="https://localhost:44336" />
    <add key="api_TMS" value="https://sorianatmsms.azurewebsites.net/api" />

    <add key="api_Cotizacion" value="https://sorianaestafetacotiza.azurewebsites.net/api/Soriana_Estafeta_Cotiza" />
    <add key="api_Estafeta_Guia" value="https://sorianaestafetaquote.azurewebsites.net/api/Estafeta_Quote" />-->

    <!-- QAS -->
     
    <!--<add key="api_UserAD" value="http://gestorinvsc.supercity.com.mx/UsuarioValidoAD"/>
    <add key="urlApi" value="true" />
    <add key="api_FinalizarSurtido" value="https://finalizarsurtidosetcqa.azurewebsites.net/api/FinalizarSurtido" />
    <add key="api_FinalizarTrans" value="https://finalizartransportistasetcqa.azurewebsites.net/api/FinalizarTransportista" />
    <add key="api_FinalizarEmbarque" value="https://finalizarempaquesetcqa.azurewebsites.net/api/FinalizarEmpaque" />
    <add key="api_Finaliza_Entrega" value="https://finalizarempaquesetcqa.azurewebsites.net/api/FinalizarEntrega " />
    <add key="api_GetEmpleado" value="https://mlsor.soriana.com/oms/GetInfoEmpleado?numEmpleado=" />
    <add key="api_GetCodigo" value="https://appsor02.soriana.com/api/dosearch/GetItem3" />

    <add key="api_TMS_Dev" value="https://localhost:44336" />
    <add key="api_TMS" value="https://sorianatmsms.azurewebsites.net/api" />

    <add key="api_Cotizacion" value="https://sorianaestafetacotiza.azurewebsites.net/api/Soriana_Estafeta_Cotiza" />
    <add key="api_Estafeta_Guia" value="https://sorianaestafetaquote.azurewebsites.net/api/Estafeta_Quote" />-->
    

    <!-- PROD -->
     
    <add key="api_UserAD" value="http://gestorinvsc.supercity.com.mx/UsuarioValidoAD"/>
    <add key="urlApi" value="true" />
    <add key="api_FinalizarSurtido" value="https://finalizarsurtidosetcprod.azurewebsites.net/api/FinalizarSurtido" />
    <add key="api_FinalizarTrans" value="https://finalizartransportistasetcprod.azurewebsites.net/api/FinalizarTransportista" />
    <add key="api_FinalizarEmbarque" value="https://finalizarempaquesetcprod.azurewebsites.net/api/FinalizarEmpaque" />
    <add key="api_Finaliza_Entrega" value="https://finalizarentregasetcprod.azurewebsites.net/api/FinalizarEntrega " />
    <add key="api_GetEmpleado" value="https://mlsor.soriana.com/oms/GetInfoEmpleado?numEmpleado="/>
    <add key="api_GetCodigo" value="https://appsor02.soriana.com/api/dosearch/GetItem3"/>

    <add key="api_TMS_Dev" value="https://localhost:44336" />
    <add key="api_TMS" value="https://sorianatmsms.azurewebsites.net/api" />

    <add key="api_Cotizacion" value="https://sorianaestafetacotiza.azurewebsites.net/api/Soriana_Estafeta_Cotiza" />
    <add key="api_Estafeta_Guia" value="https://sorianaestafetaquoteprd.azurewebsites.net/api/Estafeta_Quote"/>

    <add key="api_Upload_Files" value="https://sorianauploadfiles.azurewebsites.net/api" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Security/Login">
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxQueryStringLength="2097151"  />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Headers" value="Accept,Content-Type,Origin,Authorization,x-data" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, PATCH, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <!--<staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<remove name="OPTIONSVerbHandler" />-->
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST,PUT,PATCH,DELETE, OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="fonts" path="*.woff" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="fonts2" path="*.woff2" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0" newVersion="1.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
