
@{
    ViewBag.Title = "Zonas origen-destino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="row">
        <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center">
            <h2>Zonas origen-destino</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-bottom:20px">
            <div class="col-sm-2">
                <span>Seleccione Archivo  :</span>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="file" name="importFile" id="importFile" />
            </div>
            <div class="col-sm-3">
                <input class="btn btn-primary" id="btnUpload" type="button" value="Subir Archivo" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">
            <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;">Id Transportista</th>
                        <th style="text-align:center;">Nombre de Transportista</th>
                        <th style="text-align:center;">Id Plaza Origen</th>
                        <th style="text-align:center;">Nombre Plaza Origen</th>
                        <th style="text-align:center;">Id Plaza Destino</th>
                        <th style="text-align:center;">Nombre Plaza Destino</th>
                        <th style="text-align:center;">Id Zona</th>
                        <th style="text-align:center;">Nombre Zona</th>
                        <th style="text-align:center;">Usuario de Actualización</th>
                        <th style="text-align:center;">Fecha de Actualización</th>
                        <th style="text-align:center;">Hora de Actualización</th>
                        <th style="text-align:center;">Activo</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
<script>

    $(document).ready(function () {
        $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
        $('#tblConsulta thead tr:eq(0) th').each(function (i) {
            if ($(this).attr('name') != "accion") {
                var title = $(this).text();
                $(this).html("<input type='search' class='form-control form-control-sm' placeholder='" + title + "' id='filtro"+i+"'  />");

                $('input', this).on('keyup change', function () {
                    debugger;
                    if (table.column(i).search() !== this.value) {
                        debugger;
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });

                $('input', this).on("input", function () {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                });
            } else {
                $(this).empty();
            }
        });

        table = $('#tblConsulta').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/Impex/GetCoberturaOrigenDestino")",
                "type": "POST",
                "datatype":"json"
            },
            "pageLength": 10,
            "filter": true,
            "responsivePriority": 1,
            "data": null,
            "columns": [
                { "data": "IdTransportista", "name": "IdTransportista", "autoWidth": true },
                { "data": "NombreTransportista", "name": "NombreTransportista", "autoWidth": true },
                { "data": "Cve_PlazaOrigen", "name": "Cve_PlazaOrigen", "autoWidth": true },
                { "data": "NombrePlazaOrigen", "name": "NombrePlazaOrigen", "autoWidth": true },
                { "data": "Cve_PlazaDestino", "name": "Cve_PlazaDestino", "autoWidth": true },
                { "data": "NombrePlazaDestino", "name": "NombrePlazaDestino", "autoWidth": true },
                { "data": "IdZona", "name": "IdZona", "autoWidth": true },
                { "data": "NombreZona", "name": "NombreZona", "autoWidth": true },
                { "data": "CreatedId", "name": "CreatedId", "autoWidth": true },
                { "data": "CreatedDate", "name": "CreatedDate", "autoWidth": true },
                { "data": "CreatedTime", "name": "CreatedTime", "autoWidth": true },
                { "data": "BitActivo", "name": "BitActivo", "autoWidth": true }

            ]
            , language:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"

                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                },
                "buttons": {
                    "print": "Imprimir",
                    "pageLength": 'Mostrar %d Registros'

                }
            },
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
            ],
            buttons: [
                { extend: 'pageLength', className: 'btn-primary' },
                {
                    text: 'Excel General',
                    action: function (e, dt, node, config) {
                        Excel();
                    }
                    , className: 'btn-primary'
                }

            ],
            fixedHeader: {
                header: true,
                footer: true
            },
            "scrollX": true
            , "scrollY": "500px"
            , "scrollCollapse": true
        });
    });

</script>

<script>

    $(document).on("click", "#btnUpload", function () {
        var files = $("#importFile").get(0).files;

        var formData = new FormData();
        formData.append('importFile', files[0]);

        $.ajax({
            url: '/Impex/ImportFileCobPlaza',
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.Status === 1) {
                    //alert(data.Message);
                    location.reload();
                } else {
                    alert("Failed to Import");
                }
            }
        });
    });

    function Excel() {

        _IdTransportista = $("#filtro0").val();
        _NombreTransportista = $("#filtro1").val();
        _Cve_PlazaOrigen = $("#filtro2").val();
        _NombrePlazaOrigen = $("#filtro3").val();
        _Cve_PlazaDestino = $("#filtro4").val();
        _NombrePlazaDestino = $("#filtro5").val();
        _IdZona = $("#filtro6").val();
        _NombreZona = $("#filtro7").val();
        _CreatedId = $("#filtro8").val();
        _CreatedDate = $("#filtro9").val();
        _CreatedTime = $("#filtro10").val();
        _BitActivo = $("#filtro11").val();

        var dataTable = $('#tblConsulta').DataTable();
        var _searchValue = dataTable.search();


        window.location = window.location.origin + '/Impex/ExcelCoberturaOrigenDestino?IdTransportista=' + _IdTransportista + "&NombreTransportista=" + _NombreTransportista
            + "&Cve_PlazaOrigen=" + _Cve_PlazaOrigen + "&NombrePlazaOrigen=" + _NombrePlazaOrigen
            + "&Cve_PlazaDestino=" + _Cve_PlazaDestino + "&NombrePlazaDestino=" + _NombrePlazaDestino
            + "&IdZona=" + _IdZona + "&NombreZona=" + _NombreZona
            + "&CreatedId=" + _CreatedId + "&CreatedDate=" + _CreatedDate
            + "&CreatedTime=" + _CreatedTime + "&BitActivo=" + _BitActivo
            + "&searchValue=" + _searchValue
    }

</script>  }

