
@{
    ViewBag.Title = "Costo Envio Proveedor";
}



<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .red {
        background-color: red !important;
    }
</style>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>Costo Envio Proveedor</h2></div>
        <div class="col-4"></div>

    </div>


    <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
        <br />
        <div class="row">

            <div class=" col-xs-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Tansportista</label>
                    <select class="form-control" id="ProveedorLista" name="ProveedorLista">
                        <option selected="selected" value="0">--Transportista--</option>
                    </select>
                </div>
            </div>
            <div class=" col-xs-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Tipo de Servicio</label>
                    <select class="form-control" id="ddlTipoServicio" name="ddlTipoServicio">
                        <option selected="selected" value="0">--Tipo de Servicio--</option>
                    </select>
                </div>
            </div>
            <div class=" col-xs-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Tipo Envio</label>
                    <select class="form-control" id="ddlTipoEnvio" name="ddlTipoEnvio">
                        <option selected="selected" value="0">--Tipo Envio--</option>
                    </select>
                </div>
            </div>
            <div class=" col-xs-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <button type="button" onclick="GetConsulta()" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Zona</th>
                            <th>Cargo de Gasolina</th>
                            <th>Precio Extra por Peso</th>
                            <th>Precio Inicial</th>
                            <th>Otros</th>
                            <th>Días de Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td> <button type="button" onclick="Guardar()" class="btn btn-primary">Guardar</button>
                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}

@section scripts {


    <link href="~/Content/plugins/datatables/datatables.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/plugins/datatables/datatables.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>


    <script>


        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table =  $('#tblConsulta').DataTable(
                {

                    language:
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"

                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                            },
                            "buttons": {
                                "print": "Imprimir",
                                "pageLength": 'Mostrar %d Registros'

                            }
                        },
                    dom: 'Bfrtip',
                    lengthMenu: [
                                    [10, 25, 50, -1],
                                     ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                    ],
                    buttons: [
                            { extend: 'pageLength', className: 'btn-primary' },
                            { extend: 'excel', className: 'btn-primary' }

                    ]
                    //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //    if (aData[1] == "SETC") {
                    //        $('td', nRow).css('background-color', '#B6BF00');
                    //    } else if (aData[2] == "4") {
                    //        $('td', nRow).css('background-color', 'Orange');
                    //    }
                    //}
                }
            );

            //GetConsulta();
            GetCommonProveedor();
            GetCombos();
            GetConsulta();
        });

        function GetCommonProveedor() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("ListTransportista", "Catalogo")',
                data: {
                    IdAlmacen: null
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("ProveedorLista");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.resp.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.resp[i].IdTransportista;
                            newOption.textContent = json.resp[i].Nombre;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        function GetCombos() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCombos", "Impex")',
                data: {

                },
                datatype: "html",
                success: function (json) {
                    if (json.Success)
                    {
                        console.log(json);
                        var dynamicSelect = document.getElementById("ddlTipoServicio");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.servicio.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.servicio[i].IdTipoServicio;
                            newOption.textContent = json.servicio[i].Desc_TipoServicio;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }

                        dynamicSelect = document.getElementById("ddlTipoEnvio");
                        dynamicSelect.innerText = null;
                        console.log(dynamicSelect);
                        for (var i = 0; i < json.servicio.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = json.envio[i].IdTipoEnvio;
                            newOption.textContent = json.envio[i].Desc_TipoEnvio;//item.whateverProperty

                            dynamicSelect.appendChild(newOption);
                        }
                        console.log(dynamicSelect);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }


        function Guardar() {
            var list = new Array();
            $("#tblConsulta TBODY TR").each(function () {
                var row = $(this);
                var item = {};

                item.IdZona = row.find("TD input").eq(5).val();
                item.NombreZona = '';
                item.CargoGasolina = row.find("TD input").eq(0).val();
                item.PrecioExtraPeso = row.find("TD input").eq(1).val();
                item.PrecioInicial = row.find("TD input").eq(2).val();
                item.Otros = row.find("TD input").eq(3).val();


                item.IdTransportista = $("#ProveedorLista").val();
                item.IdTipoEnvio = $("#ddlTipoEnvio").val();
                item.IdTipoServicio = $("#ddlTipoServicio").val();

      


                item.diasEntrega = row.find("TD input").eq(4).val();
                list.push(item);
            });

            debugger;
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertCustomers", "Impex")',
                data: JSON.stringify(list),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    if (json.Success) {
                        alert(json.resp + " registro(s) guardados.");
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                   alert("Error");
                }
            });
        }




        function GetConsulta() {
            var _IdTipoenvio = $("#ddlTipoEnvio").val();
            var _IdTransportista = $("#ProveedorLista").val();
            var _IdTipoServicio = $("#ddlTipoServicio").val();
            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCostoEnvioProveedor", "Impex")',
                data: {
                    IdTransportista: _IdTransportista,
                    IdTipoenvio: _IdTipoenvio,
                    IdTipoServicio: _IdTipoServicio
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        $("#tblConsulta tbody tr").remove();
                        //var tr;
                        //debugger;
                        //Append each row to html table
                        console.log(json);
                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');



                            tr.append("<td>" + json.resp[i].NombreZona + "</td>");
                            tr.append("<td><input type='number' oninput='input(this)' placeholder='0.00' min='0' value='" + json.resp[i].CargoGasolina +"' step='0.01'  id='txtCargoGasolina' name='txtCargoGasolina' pattern='^\d+(?:\.\d{1,2})?$' class='form-control' /></td>");
                            tr.append("<td><input type='number' oninput='input(this)' placeholder='0.00' min='0' value='" + json.resp[i].PrecioExtraPeso +"' step='0.01'  id='txtCargoGasolina' name='txtCargoGasolina' pattern='^\d+(?:\.\d{1,2})?$' class='form-control' /></td>");
                            tr.append("<td><input type='number' oninput='input(this)' placeholder='0.00' min='0' value='" + json.resp[i].PrecioInicial +"' step='0.01'  id='txtCargoGasolina' name='txtCargoGasolina' pattern='^\d+(?:\.\d{1,2})?$' class='form-control' /></td>");
                            tr.append("<td><input type='number' oninput='input2(this)' placeholder='0.00' min='0' value='" + json.resp[i].Otros +"' step='1'  id='txtCargoGasolina' name='txtCargoGasolina' pattern='^\d+(?:\.\d{1,2})?$' class='form-control' /></td>");
                            tr.append("<td><input type='number' oninput='input2(this)' placeholder='0.00' min='0' value='" + json.resp[i].diasEntrega
                                + "' step='1'  id='txtCargoGasolina' name='txtCargoGasolina' pattern='^\d+(?:\.\d{1,2})?$' class='form-control' /><input type='number'  style='display: none;' value='" + json.resp[i].IdZona +"'/> </td>");

                            //tr.append("<td>" + json.resp[i].CargoGasolina + "</td>");
                            //tr.append("<td>" + json.resp[i].PrecioExtraPeso + "</td>");
                            //tr.append("<td>" + json.resp[i].PrecioInicial + "</td>");
                            //tr.append("<td>" + json.resp[i].Otros + "</td>");
                            //tr.append("<td>" + json.resp[i].diasEntrega + "</td>");

                            $('#tblConsulta').append(tr);
                            //<th>Zona</th>
                            //<th>Cargo de Gasolina</th>
                            //<th>Precio Extra por Peso</th>
                            //<th>Precio Inicial</th>
                            //<th>Otros</th>
                            //<th>Días de Entrega</th>
                        }
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        var delayTimer;
        function input(ele) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                ele.value = parseFloat(ele.value).toFixed(2).toString();
            }, 1100);
        }

        function input2(ele) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                ele.value = parseFloat(ele.value).toFixed(0).toString();
            }, 1100);
        }
    </script>

}