
@{
    ViewBag.Title = "Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-11 col-md-11 col-lg-11">
        <table id="tblConsulta" class="table table-striped dataTable" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align:center;">Id Transportista</th>
                    <th style="text-align:center;">Nombre de Transportista</th>
                    <th style="text-align:center;">Clave de Plaza</th>
                    <th style="text-align:center;">Nombre de Plaza</th>
                    <th style="text-align:center;">Codigo Postal </th>
                    <th style="text-align:center;">Tipo de Envio</th>
                    <th style="text-align:center;">Cargado Por</th>       
                    <th style="text-align:center;">Fecha de Creación</th>
                    <th style="text-align:center;">Hora de Creación</th>
                    <th style="text-align:center;">Activo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
        $('#tblConsulta thead tr:eq(0) th').each(function (i) {
            if ($(this).attr('name') != "accion") {
                var title = $(this).text();
                $(this).html("<input type='search' class='form-control form-control-sm' placeholder='" + title + "' id='filtro"+i+"'  />");

                $('input', this).on('keyup change', function () {
                    debugger;
                    if (table.column(i).search() !== this.value) {
                        debugger;
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });

                $('input', this).on("input", function () {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                });
            } else {
                $(this).empty();
            }
        });

        table = $('#tblConsulta').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/Impex/Grid")",
                "type": "POST",
                "datatype":"json"
            },
            "pageLength": 10,
            "filter": true,
            "responsivePriority": 1,
            "data": null,
            "columns": [
                { "data": "IdTransportista", "name": "IdTransportista", "autoWidth": true },
                { "data": "NomTransportista", "name": "NomTransportista", "autoWidth": true },
                { "data": "IdPlaza", "name": "IdPlaza", "autoWidth": true },
                { "data": "CvePlaza", "name": "CvePlaza", "autoWidth": true },
                { "data": "PostalCode", "name": "PostalCode", "autoWidth": true },
                { "data": "DescTipoEnvio", "name": "DescTipoEnvio", "autoWidth": true },
              
                { "data": "CreatedId", "name": "CreatedId", "autoWidth": true },
                { "data": "CreatedDate", "name": "CreatedDate", "autoWidth": true },
                { "data": "CreatedTime", "name": "CreatedTime", "autoWidth": true },
                { "data": "BitActivo", "name": "BitActivo", "autoWidth": true }

            ]
            , language:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"

                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                },
                "buttons": {
                    "print": "Imprimir",
                    "pageLength": 'Mostrar %d Registros'

                }
            },
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
            ],
            buttons: [
                { extend: 'pageLength', className: 'btn-primary' },
                {
                    text: 'Excel General',
                    action: function (e, dt, node, config) {
                        Excel();
                    }
                    , className: 'btn-primary'
                }
               
            ],
            fixedHeader: {
                header: true,
                footer: true
            },
            "scrollX": true
            , "scrollY": "500px"
            , "scrollCollapse": true
        });
    })
        function Excel() {
      
            _IdTransportista = $("#filtro0").val();
            _NomTransportista = $("#filtro1").val();
            _IdPlaza = $("#filtro2").val();
            _CvePlaza = $("#filtro3").val();
            _PostalCode = $("#filtro4").val();
            _DescTipoEnvio = $("#filtro5").val();


            _CreatedId = $("#filtro6").val();
            _CreatedDate = $("#filtro7").val();
            _CreatedTime = $("#filtro8").val();
            _BitActivo = $("#filtro9").val();

            var dataTable = $('#tblConsulta').DataTable();
            var _searchValue = dataTable.search();
         
           
            window.location = window.location.origin + '/Impex/ExcelPrueba?IdTransportista=' + _IdTransportista + "&NomTransportista=" + _NomTransportista
                + "&IdPlaza=" + _IdPlaza + "&CvePlaza=" + _CvePlaza
                + "&PostalCode=" + _PostalCode + "&DescTipoEnvio=" + _DescTipoEnvio
                + "&CreatedId=" + _CreatedId + "&CreatedDate=" + _CreatedDate
                + "&CreatedTime=" + _CreatedTime + "&BitActivo=" + _BitActivo
                + "&searchValue=" + _searchValue

           
        }
    </script>
}
