@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<a href="~/Swagger">Go to Api Documentation: /swagger</a>
<br />
Esto solo es una prueba de swagger, si funciona toca programar la administración de servicios
